<h2>Update This Post</h2>

<!-- The f block param is known as a form builder 
	 we use it to build the elements of our form.-->
<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<p style="color:red;">A blog post reuqires both
	<% end %>

	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :content %><br>
		<%= f.text_area :content %> 
	</div>

	<div>
		<%= f.submit 'Update Post' %>
	</div>
<% end %>

