<!DOCTYPE html>
<html>
<head>
  <title>NonScaffoldedRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= image_tag 'rails.png' %></p>

<div id="menu">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'About', about_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><%= link_to 'Blog', posts_path %></li>
	</ul>
</div>

<!-- This is where our views are injected -->
<%= yield %>

</body>
</html>
